[submodule "libnile"]
	path = vendor/libnile
	url = https://github.com/49bitcat/libnile
[submodule "vendor/AthenaOS"]
	path = vendor/AthenaOS
	url = https://github.com/OpenWitch/AthenaOS
[submodule "vendor/modified-ark-pixel-font"]
	path = vendor/modified-ark-pixel-font
	url = https://github.com/asiekierka/modified-ark-pixel-font
